
/*links*/
a:link {
    font-family: Tahoma, Verdana, arial, Helvetica, sans-serif;
	text-decoration: none;
    color: #FF5C5B;
}

a:hover {
    font-family: Tahoma, Verdana, arial, Helvetica, sans-serif;
	text-decoration: none;
    color: #FFC361;
}

a:active {
	font-family: Tahoma, Verdana, arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #0000DC;
}

a:visited {
    font-family: Tahoma, Verdana, arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #CCCCFF;
}

/*other*/
.introd {
	font-family: Tahoma, Verdana, arial, Helvetica, sans-serif;
    border: 1px solid black;
    width:800px;
}

.cont {
	font-family: Tahoma, Verdana, arial, Helvetica, sans-serif;
    background-color:#CCCCFF;
    border: 1px solid black;
    width:800px;
    height:400px;
    vertical-align:top;
    text-align:left;
	table-layout: fixed;
	max-width:800px;
	max-height:400px;
}

.simplex {
	font-family: Tahoma, Verdana, arial, Helvetica, sans-serif;
    background-color:#FFCED5;
    border: 1px solid black;
    width:400px;
    height:200px;
    vertical-align:top;
    text-align:left;
	table-layout: fixed;
	max-width:400px;
	max-height:200px;
}

.text {
	font-family: Tahoma, Verdana, arial, Helvetica, sans-serif;
    height:20px;
    font-size:0.9em;
    color:#000000;
    width:800px;
	border: 1px solid black;
}

/* fuck browser please conform to colour standards */
.peatowit {
	font-family: Tahoma, Verdana, arial, Helvetica, sans-serif;
    height:20px;
    font-size:0.9em;
    color:#000000;
    width:800px;
	border: 1px solid black;
}

/* not sure what these do */
.unknowy {
	background-color: #400;
	background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%), linear-gradient(0deg, rgba(200,0,0,.5) 50%, transparent 50%);
	background-size: 12px 12px;
	background-position: -2px 4px;
	box-shadow: inset 0px 0px 0px 2px #400;
}

@keyframes rainbow {
    0% { background-position: 0; }
    100% { background-position: -6000px; }
}

.rainbow {
	animation: 60s infinite linear rainbow;
	background: linear-gradient(90deg, #ff0000, #ff8800, #ffff00, #00ff00, #0088ff, #0000ff, #8800ff, #ff0000);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent ;
}

@keyframes lustful {
    0% { background-position: 0; }
    100% { background-position: -6000px; }
}

.lustful {
	animation: 60s infinite linear lustful;
	background: linear-gradient(90deg, #8800ff, #E04880, #b66bec, #FF1493 );
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent ;
}

@keyframes tentacle {
    0% { background-position: 0; }
    100% { background-position: -6000px; }
}

.tentacle {
	animation: 60s infinite linear tentacle;
	background: linear-gradient(90deg, #8800ff, #8800ff, #8800ff, #8800ff, #8800ff, #FF1493 );
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent ;
}

.wraith {
	background: #f1f1db;
	text-shadow: 0 0 32px #8800ff;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
/* not sure what these do */

.table {
  border: 2px solid black;
  table-layout: fixed;
  
}

.important {
	font-size:2em;
}

.miniport {
	font-size:1.5em;
}

.funny {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.plotter {
	position: absolute;
	right: 657px;
	bottom: 1360px;
}

/* :) */